<header class="sticky-top" id="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">Bus <span class="logo_profile">Service Company</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link active" routerLink="/home">Home</a>
              <a class="nav-item nav-link" routerLink="/addcustomerdetails">Add Customer Details</a>
              <a class="nav-item nav-link" routerLink="/viewcustomerdetails">View Customer Details</a>
            </div>
          </div>
        </nav>
    </div>
  </header>
<router-outlet></router-outlet>