body{
    font-family:'Calibri';
}
header{
    background-color: #f7f7f7;
  }
  a:hover{
      color:#bb141a!important;
      text-decoration: none;
  }
  .logo_profile{
      color: #bb141a;
  }
  .navbar-brand{
      font-weight:900;
      font-size: 18px;
  }
  .nav-item{
      padding: 20px 15px !important;
      font-size:13px;
      color: #323232 !important;
      line-height: 1;
      text-transform: uppercase;
      font-weight:600;
      outline:none;
      letter-spacing: 1px;
  }
  